<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name = "RestAssured with TestNG Demo">

    <test name = "Favorite Quote Tests">
        <classes>
            <class name = "endpoints.FavQuote"/>
        </classes>
    </test>

    <test name = "List Quotes Tests">
        <classes>
            <class name = "endpoints.ListQuotes"/>
        </classes>
    </test>

</suite>
